---
import MenuItem from "./MenuItem.astro";
import Socials from "./Socials.astro";
import { Button } from "../Button";
import { Image } from "@astrojs/image/components";

import logo from "../../assets/img/GF-logo.png";
---

<div
  class="flex justify-between h-16 w-full px-6 bg-white border-b-2 border-gray-200 fixed"
>
  <div class="flex">
    <div class="logo h-10 w-10 py-2.5 mr-5">
      <Image src={logo} class="h-10 w-10" alt="Logo" />
    </div>
    <MenuItem title="Jak začít" href="/how-to-start" />
    <MenuItem title="Lekce" href="/lessons" />
    <MenuItem title="Ceník" href="/price-list" />
    <MenuItem title="Fellas členství" href="/membership" />
    <MenuItem title="Parkování" href="/parking" />
    <MenuItem title="Naše prostory" href="/our-box" />
    <MenuItem title="Kontakty" href="/contact" />
  </div>
  <div class="flex">
    <div class="py-2.5 px-5">
      <Button text="Rezervace" />
    </div>
    <Socials />
  </div>
</div>
