---
export interface Props {
  title: string;
  href: string;
}
const { href, title } = Astro.props;
---

<a
  href={href}
  class="w-auto h-full no-underline hover:underline px-3 flex items-center"
>
  {title}
</a>
