---
import facebook from "../../icons/facebook.svg";
import instagram from "../../icons/instagram.svg";
import youtube from "../../icons/youtube.svg";
---

<div class="flex">
  <a
    href="https://www.facebook.com/GoodFellas-Hybrid-Gym-Liberec-2231084310549693/"
    class="h-full w-8 px-2 flex items-center"
  >
    <img src={facebook} alt="facebook-icon" />
  </a>
</div>
<a
  href="https://www.instagram.com/goodfellasliberec/"
  class="h-full w-8 px-2 flex items-center"
>
  <img src={instagram} alt="instagram-icon" />
</a>
<a
  href="https://www.youtube.com/channel/UC1VV303ljjh0Ut0Tjn9KtpA"
  class="h-full w-8 px-2 flex items-center"
>
  <img src={youtube} alt="youtube-icon" />
</a>
