---
import Content from "../../layouts/Content.astro";
import { Button } from "../Button";
import { Form } from "../form/Form";
---

<Content className="bg-black">
  <div class="flex flex-col items-center justify-center w-full h-full">
    <div class="prose prose-invert text-center w-full pb-10">
      <h1>Jak začít</h1>
    </div>
    <div class="flex flex-wrap desktop:flex-nowrap">
      <div
        class="text-container prose prose-invert max-w-full text-center pr-7 mb-10 desktop:mb-0"
      >
        <p>Na výběr máš ze 3 hlavních lekcí:</p>
        <ul class="list-none">
          <li>• GF Funkční Fitness 1 (v rezervačním systému zeleně)</li>
          <li>• GF Funkční Fitness 2 (v rezervačním systému červeně)</li>
          <li>• GF Kondička (v rezervačním systému modře)</li>
        </ul>
        <p>
          Na lekce <b>GF Funkční Fitness 1 a GF Kondička</b> může přijít kdokoliv.
          Tato hodina je technicky méně náročná, a v případě potřeby je vždy jednodušší
          varianta cviku.
        </p>
        <p>
          Pokud se chceš dozvědět více informací o tréninku, přejdi do sekce
          LEKCE
        </p>
        <p>
          Pokud se cvičením úplně začínáš nebo se vracíš ke cvičení po dlouhé
          pauze, doporučujeme ti zajít na pár lekcí <b>GF Začátečníci</b>.
        </p>
        <p>
          Třetí hlavní trénink je <b>GF Funkční Fitness 2</b>. Pro účast na této
          lekci je nutné zvládat základy vzpírání a celkovou práci s velkou osou
          (Dřep, Mrtvý tah, Trh, Nadhoz, atd). Pokud tyto dovednosti nemáš a rád
          bys rovnou začal chodit na Funkční Fitness 2, pak je zapotřebí
          absolvovat <b>Úvodní kurz do Funkčního Fitness</b>.
        </p>
        <p>
          <b> Úvodní kurz do Funkčního Fitness probíhá 1-2x měsíčně</b>. Nově
          bude v neděli dopoledne a trvá cca 3,5 h. Probereme zde techniku
          jednotlivých cviků, terminologii a obecně chod hodiny tak, aby ses
          cítil komfortně hned od prvních lekcí.
        </p>
        <p class="prose-2xl font-bold">Cena kurzu je 1.390 Kč</p>
        <p>
          <b>
            V případě, že by si se rád Úvodního kurzu zúčastnil, napiš nám
            e-mail na adresu info@crossfitliberec.cz – do předmětu napiš “Úvodní
            kurz + jméno a příjmení”, a nebo vyplň jednoduchý formulář.
          </b>
        </p>
        <p class="text-xs">
          Tento kurz není zapotřebí, pokud chceš přijít na lekce GF Začátečníci,
          GF Kondička, GF Funkční Fitness a GF Funkční Fitness – Týmovky.
        </p>
        <p class="prose-2xl font-bold">
          Pro výběr termínu a přihlášení na seminář funkčního fitness
        </p>
        <div class="flex justify-center">
          <Button text="Klikněte zde" />
        </div>
      </div>
    </div>
  </div>
</Content>
