---
import { Button } from "../Button";
import { Form } from "../form/Form";
---

<div class="bg-black p-12">
  <div class="text-center">
    <div class="prose prose-invert text-center">
      <h1>Jak začít</h1>
    </div>
    <div class="flex flex-wrap lg:flex-nowrap">
      <div class="text-container prose prose-invert max-w-full">
        <p>Na výběr máš ze 3 hlavních lekcí:</p>
        <ul>
          <li>GF Funkční Fitness 1 (v rezervačním systému zeleně)</li>
          <li>GF Funkční Fitness 2 (v rezervačním systému červeně)</li>
          <li>GF Kondička (v rezervačním systému modře)</li>
        </ul>
        <p>
          Na lekce GF Funkční Fitness 1 a GF Kondička může přijít kdokoliv. Tato
          hodina je technicky méně náročná, a v případě potřeby je vždy
          jednodušší varianta cviku.
        </p>
        <p>
          Pokud se chceš dozvědět více informací o tréninku, přejdi do sekce
          LEKCE
        </p>
        <p>
          Pokud se cvičením úplně začínáš nebo se vracíš ke cvičení po dlouhé
          pauze, doporučujeme ti zajít na pár lekcí GF Začátečníci.
        </p>
        <p>
          Třetí hlavní trénink je GF Funkční Fitness 2. Pro účast na této lekci
          je nutné zvládat základy vzpírání a celkovou práci s velkou osou
          (Dřep, Mrtvý tah, Trh, Nadhoz, atd). Pokud tyto dovednosti nemáš a rád
          bys rovnou začal chodit na Funkční Fitness 2, pak je zapotřebí
          absolvovat Úvodní kurz do Funkčního Fitness.
        </p>
        <p>
          Úvodní kurz do Funkčního Fitness probíhá 1-2x měsíčně. Nově bude v
          neděli dopoledne a trvá cca 3,5 h. Probereme zde techniku jednotlivých
          cviků, terminologii a obecně chod hodiny tak, aby ses cítil komfortně
          hned od prvních lekcí.
        </p>
        <p>Cena kurzu je 1.390 Kč</p>
        <p>
          V případě, že by si se rád Úvodního kurzu zúčastnil, napiš nám e-mail
          na adresu info@crossfitliberec.cz – do předmětu napiš “Úvodní kurz +
          jméno a příjmení”, a nebo vyplň jednoduchý formulář.
        </p>
        <p>
          Tento kurz není zapotřebí, pokud chceš přijít na lekce GF Začátečníci,
          GF Kondička, GF Funkční Fitness a GF Funkční Fitness – Týmovky.
        </p>
      </div>
      <div class="flex w-full lg:w-1/3 shrink-0">
        <Form />
      </div>
    </div>
  </div>
</div>
