---
---

<div class="prose prose-invert bg-black text-center font-sans">
  <h1>Proč cvičit v GoodFellas?</h1>
  <p>
    Člověk potřebuje pohyb. Neomezený, bezbolestný pohyb. A dnešní doba dělá
    všechno proto, aby se člověk co nejméně hýbal. Stačí vstát, výtahem dojet do
    podzemních garáží, sednout do auta, odvést se do práce, a tam usednout na
    celý den ke stolu. V těchto scénářích je zapotřebí aktivně vyhledávat pohyb.
    Ovšem není to tak jednoduché. Samotných specifickým sportem, jako je např.
    tenis nebo fotbal, se oslabené svaly neposílí a zkrácené svaly neprotáhnou.
    Je zapotřebí konkrétně zamířit dané skupiny, použivát tělo jako celek. A to
    právě děláme u nás. My víme, že stroje k cvičení nestačí. My cvičíme a
    stroji se stáváme.
  </p>
  <p>
    Díky specifickým tréninkům nedochází ke stagnaci a je zde neustálý progres.
    Testováno na lidech.
  </p>
</div>
