---
import Content from "../../layouts/Content.astro";
---

<Content className="bg-fellas">
  <div
    class="prose prose-invert w-full max-w-full flex justify-center mb-10 flex-col"
  >
    <h2>Co u nás najdeš za lekce?</h2>
    <div class="flex gap-3">
      <div class="flex flex-col flex-1 border shadow-outline">
        Funkční fitness 1
      </div>
      <div class="flex flex-col flex-1 border shadow-xl">Funkční fitness 2</div>
      <div class="flex flex-col flex-1 border shadow-2xl">GF Kondička</div>
    </div>
    <h2>Toto jsou naše 3 hlavní lekce!</h2>
  </div>
</Content>
