---
import Content from '../../layouts/Content.astro'
import { Icon } from 'astro-icon'
---

<Content className="bg-black">
  <div class="prose prose-invert text-center font-sans max-w-none">
    <h2>Zpoplatnění zázemí</h2>
    <p>
      Jako asi všechno kolem, i na nás došlo, a kvůli současné situaci jsme
      nuceni, poprvé od otevření (4 roky!), zdražit.
    </p>
    <p>
      Jdeme na to ale jinak. Ceny vstupu do gymu na „Open“ a na <strong>
        lekce zůstávají stejné</strong
      >. Nově ale bude zpoplatněné tzn. „zázemí“ – Tím jsou šatny a sprchy. Nyní
      budeš moct šatny a sprchy využívat pouze, pokud budeš mít <strong
        >„Fellas členství“</strong
      > .
    </p>
    <h3>Co všechno obsahuje Fellas členství? *</h3>
    <div class="flex flex-col desktop:flex-row">
      <div class="item flex-1 p-2.5">
        <div class="flex justify-center">
          <Icon class="w-12" name="fa-solid:shower" />
        </div>
        <p>
          Možnost využití <strong>šaten a sprch</strong> – Nově budou ve sprchách
          umístěny dávkovače mýdla
        </p>
      </div>
      <div class="item flex-1 p-2.5">
        <div class="flex justify-center">
          <Icon class="w-12" name="fa-solid:weight" />
        </div>
        <p>
          Možnost využití <strong>chytré osobní váhy</strong> – Měř si pravidelně
          procenta tuku a svalů a zaznamenej svůj progres!
        </p>
      </div>
      <div class="item flex-1 p-2.5">
        <div class="flex justify-center">
          <Icon class="w-12" name="fa-solid:person-booth" />
        </div>
        <p>
          Pokud se ti stane, že <strong>zapomeneš ručník</strong>, na baru ti
          zdarma ručník půjčíme.
        </p>
      </div>
      <div class="item flex-1 p-2.5">
        <div class="flex justify-center">
          <Icon class="w-12" name="fa-solid:box" />
        </div>
        <p>
          Budeš mít k dispozici <strong>boxík</strong>, kde si můžeš nechávat
          své věci – pásek, švihadlo nebo třeba náhradní ponožky :). Jeden boxík
          bude k dispozici dvou členům, takže budeš mít ½ boxíku.
        </p>
      </div>
      <div class="item flex-1 p-2.5">
        <div class="flex justify-center">
          <Icon class="w-12" name="fa-solid:percent" />
        </div>
        <p>
          <strong>Slevy</strong> na GoodFellas merch. Dále slevové kódy na eshopy
          našich partnerů – Více již brzy!
        </p>
      </div>
    </div>
    <p class=""><strong>Cena členství: 400 Kč/měsíc</strong></p>
    <p>*členství je dobrovolné</p>
  </div>
</Content>
