---
import Content from "../../layouts/Content.astro";
import { Button } from "../Button";


---

<Content className="bg-white">
  <div class="prose text-center font-sans max-w-none">
    <h2 class="text-3xl">Parkování</h2>
    <p>
      Náš gym se nachází přesně <strong>
        170 metrů vzdušnou čarou od liberecké radnice.</strong
      >
      Navíc sídlíme hned vedle dvou velkých hotelů – Hotel Liberec a Clarion Grandhotel
      Zlatý Lev. V této lokalitě je tedy o každé parkovací místo neskutečný boj.
      A když už nějaké seženete, musíte si za něj adekvátně zaplatit.
    </p>
    <p>
      Díky velké snaze majitele domu <strong>
        se nám podařilo zajistit ,,alespoň’’ 5 parkovacích míst hned před
        vchodem.</strong
      >
    </p>
    <p>
      Cenu parkovacích míst nemůžeme promítnout do cen permanentky, jelikož
      bychom znevýhodňovali ty, kteří do gymu nejezdí autem. <strong
        >Parkovné se tedy platí zvlášť. Jedná se pouze o ,,symbolický’’ poplatek</strong
      > tak, aby se nám parkovací místa zaplatila. Nic víc z toho nechceme.
    </p>
    <h4 class="text-2xl">A jak to bude tedy fungovat v praxi?</h4>
    <p>
      Pro toho, kdo bude chtít zaparkovat přímo před naším gymem je tu
      <strong>rezervační systém</strong>. Místo si můžeš pronajmout na <strong
        >2 hodiny a cena bude 20 Kč</strong
      >. Místo si rezervuješ úplně stejně tak, jak se hlásíš na hodiny.
    </p>
    <p>
      Pokud tedy půjdeš například na trénink od 16:00, budeš mít možnost si
      rezervovat parkovací místo od 15:30 do 17:30.
    </p>
    <div class="mt-10 flex justify-center">
      <Button text="Rezervace" href="https://goodfellasgym.inrs.cz/rs" />
    </div>
    <p class="italic text-base">
      * Stačí si jen v rezervačním systému překliknout na záložku PARKOVÁNÍ.
    </p>
  </div>
</Content>
