---
import Content from "../../layouts/Content.astro";
---

<Content className="bg-white">
  <div>
    <div class="prose w-full mb-10">
      <h1>Jak se přihlásit na svůj první trénink?</h1>
    </div>
    <div class="flex flex-1 justify-between">
      <div class="">
        <h3 class="text-center text-3xl font-bold uppercase">
          1<br />
          <span>Krok</span>
        </h3>
      </div>
    </div>
  </div>
</Content>
