---
import { getCollection } from 'astro:content'
const funkcniFitness = await getCollection('lessons')
---
{
    funkcniFitness
      .sort((a, b) => a.data.order - b.data.order)
      .map((item) => {
        return (
        <div class="prose prose-invert flex p-5 bg-black">{item?.body}</div>
        )
      })
  }

