---
import Layout from "../layouts/Layout.astro";

import Info from "../components/sections/Info.astro";
import AboutUs from "../components/sections/AboutUs.astro";
import HowStart from "../components/sections/HowStart.astro";
import Slider from "../components/slider/Slider.astro";
import SignUpFirstTrainign from "../components/sections/SignUpFirstTrainign.astro";
import PriceList from "../components/sections/PriceList.astro";
import Parking from "../components/sections/Parking.astro";
import MembershipBackground from "../components/sections/MembershipBackground.astro";
import MembershipServices from "../components/sections/MembershipServices.astro";
import Lessons from "../components/sections/Lessons.astro";
import Contacts from "../components/sections/Contacts.astro";
import Partners from "../components/sections/Partners.astro";
import Footer from "../components/footer/Footer.astro";
import Gallery from "../components/sections/Gallery.astro";

//console.log(trainings);
---

<Layout title="GoodFellas Hybrid Gym">
  <main>
    <Slider />
    <Info />
    <AboutUs />
    <HowStart />
    <SignUpFirstTrainign />
    <Lessons />
    <PriceList />
    <MembershipBackground />
    <MembershipServices />
    <Parking />
    <Gallery />
    <Contacts />
    <Partners />
    <Footer />
  </main>
  <!-- <Button text="test" client:load /> -->
</Layout>
