---
import Layout from "../layouts/Layout.astro";

import { Button } from "../components/Button";

import Info from "../components/sections/Info.astro";
import AboutUs from "../components/sections/AboutUs.astro";

//console.log(trainings);
---

<Layout title="Welcome to Astro.">
  <main>
    <Info />
    <AboutUs />
    <Info />
    <AboutUs />
    <Info />
    <AboutUs />
    <Info />
    <AboutUs />
    <Info />
    <AboutUs />
    <Info />
    <AboutUs />
  </main>
  <Button text="test" client:load />
</Layout>
