---
import Layout from "../layouts/Layout.astro";

import { Button } from "../components/Button";

import Info from "../components/sections/Info.astro";
import AboutUs from "../components/sections/AboutUs.astro";
import Slider from "../components/slider/Slider.astro";

//console.log(trainings);
---

<Layout title="Welcome to Astro.">
  <main>
    <Slider />
    <Info />
    <AboutUs />
  </main>
  <!-- <Button text="test" client:load /> -->
</Layout>
