---
import { Image } from "@astrojs/image/components";
import first from "../../assets/img/01.jpg";
import second from "../../assets/img/02.jpg";
import third from "../../assets/img/03.jpg";
---

<div class="overflow-hidden w-full h-[900px] relative">
  <div
    class="absolute align-middle top-[50%] -translate-y-1/2 h-72 text-center bg-black bg-opacity-60 z-10 w-full border-y-1 border-opacity-80 justify-center flex animate-[fadeInOut_12s_ease-in-out_infinite_-6s] opacity-0"
  >
    <div class="prose flex prose-invert text-3xl">
      <h2 class="flex self-center">
        Vyber si trénink, který přesně padne tobě!
      </h2>
    </div>
  </div>
  <div
    class="absolute top-[50%] -translate-y-1/2 h-72 text-center bg-black bg-opacity-60 z-10 w-full border-y-1 border-opacity-80 justify-center flex animate-[fadeInOut_12s_ease-in-out_infinite] opacity-1"
  >
    <div class="prose flex prose-invert text-3xl">
      <h2 class="flex self-center">
        Kondiční cvičení, silovka(powerbuilding), vzpírání, jóga, lekce pro
        začátečníky
      </h2>
    </div>
  </div>
  <Image
    src={first}
    alt="first"
    class="w-full object-cover object-center h-[900px] absolute top-0 left-0 animate-[fadeInOut_15s_ease-in-out_infinite_-9s] opacity-1"
    format="webp"
    loading={"eager"}
  />
  <Image
    src={second}
    alt="second"
    class="w-full object-cover object-center h-[900px] absolute top-0 left-0 animate-[fadeInOut_15s_ease-in-out_infinite_-5s] opacity-0"
    format="webp"
  />
  <Image
    src={third}
    alt="third"
    class="w-full object-cover object-center h-[900px] absolute top-0 left-0 animate-[fadeInOut_15s_ease-in-out_infinite] opacity-0"
    format="webp"
  />
</div>
